body {
  /*Color all text on the page in a contrasting color to the one you picked for the background*/
  background-color: #2c3e50; /* Dark blue background color */
  color: #ecf0f1; /* Light text color for contrast */
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: auto; /* Allows scrolling if content overflows */
  min-height: 100vh; /* Ensures the body takes at least the full viewport height */
}


.container {
  /*All content on the page should be centered*/
  text-align: center;
  padding-top: 20px;
}

#CoverArt {
  border-radius: 7%; 
  width: 300px; 
  height: 400px; 
  object-fit: fill; 
  margin: 20px auto;
}

iframe {
  margin-top: 20px;
  border: none; 
}

a {
  color: #3498db; 
  text-decoration: none; 
  display: block;
  margin-top: 10px;
}

a:hover {
  text-decoration: underline; 
}

ul {
  list-style-type: none; 
  padding: 0;
}

li {
  margin: 5px 0; 
}
